<po-page-edit p-title="Clientes" (p-cancel)="cancel()" (p-save)="save()" (p-save-new)="saveNew()">

  <form>
    <div class="po-row">
      <po-input class="po-md-12" formControlName="name" p-clean p-icon="an an-user" p-label="Nome"> </po-input>
    </div>

    <div class="po-row">
      <po-input class="po-lg-9" formControlName="address" p-clean p-icon="an an-map-pin" p-label="Endereço"> </po-input>

      <po-number class="po-lg-3" formControlName="phone" p-label="Telefone" p-clean> </po-number>
    </div>
  </form>
  <po-table [p-columns]="columns"> </po-table>
</po-page-edit>
